
.topic:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}
.fabric-banner{
    background-color: #078d00;
    background-position: center;
    min-height: 500px;
    color: rgb(252, 255, 205);
}
footer p{
    font-size: large;
}
footer a{
    text-decoration: none;
    color: whitesmoke !important;
    font-weight: 500;
    
}
footer a:hover{
    color: white;
    text-decoration: underline;
}
.social{
    color: green;
    
}
.text-green{
    color:green !important;
    
}