body{
    font-family: 'Times New Roman', Times, serif;
}
.social a{
    color: green;
    
}
.topic:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}
.fabric-banner{
    background-color: #078d00;
    background-position: center;
    min-height: 500px;
    color: rgb(252, 255, 205);
}


.text-green{
    color:green !important;
    
}
.what-we-do{
    /* min-height: 50vh; */
    background-color: antiquewhite;
}

.story{
    /* min-height: 100vh; */
    background-color: aliceblue;
}
.story h1{
    
    font-weight: bold;
}
.story p{
    font-size: 20px;
}

footer p{
    font-size: large;
}
footer a{
    text-decoration: none;
    color: whitesmoke !important;
    font-weight: 500;
    
}
footer a:hover{
    color: white;
    text-decoration: underline;
}